body {
  background-color: #0d0a6a;
  overflow: hidden; 
  height:100vh;
  position: relative;
}

.cloud-container {
  position: absolute;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
}

.star-container {
  position: absolute;
  width: 100%;
  height: 100vh; 
  overflow: hidden; 
}

.cloudcloud {
  position: absolute;
  width: 200%;
  height: 200%; 
  background: url('cloud1.png'); 
  background-size: cover; 
  background-position: 0% 0%; 
  z-index: -1; 
  animation: moveCloud 8s linear infinite; 
  opacity: 0.4;
  background-repeat: repeat-y;
}

.starstar {
  position: absolute;
  width: 100%;
  height: 200%;
  background: url('stars1.png'); 
  background-size: cover; 
  background-position: 0% 0%; 
  z-index: -1;
  animation: moveStar 6s linear infinite;
  opacity: 0.4;
  background-repeat: repeat-y;
}

@keyframes moveCloud {
  100% {
    transform:translateY(-50%)
  }
}

@keyframes moveStar {
  100% {
    transform:translateY(-50%)
  }
}

.para {
  position: absolute;
  top: -100%;
  animation: moveIn 5s ease-in-out forwards, bob 2s ease-in-out infinite;
  left:42%;
  width:15%;
  height:50%;
  cursor: pointer;
}

@keyframes moveIn {
  0% {
    top: -100%; 
  }
  100% {
    top: 35%; 
  }
}

@keyframes bob {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px); 
  }
  100% {
      transform: translateY(0); 
  }
}


h1{
  color:rgb(254, 248, 240);
  font-family: Quicksand, Arial;
  position: absolute; 
  padding-right: 200px; 
  font-size:3vw;
  margin:0;
  padding:2%;
  animation: secFadeIn 2s forwards;
  animation-delay: 1s;
  opacity: 0;
  color: #ffffff;
  padding-top:100px;
}

.block1 {
  width: 0%;
  height: 188%;
  background:white;
  position: absolute;
  animation: secBlock 2.3s cubic-bezier(.74, .06, .4, .92) forwards;
  display: flex;
  margin-top:65px;
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;

  }
  50% {
    width: 95%;
    left: 0;

  }
  100% {
    width: 0;
    left: 95%;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.box{
  width: 1500px;
  height: 600px;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.title1{
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
}


.bg-text{
  position:absolute;
  z-index:5;
  top:30%;
  left:10%;
  transform: scale(1.3);
  opacity:0;
  transition: opacity 0.6s ease;
}

.para:hover ~ .bg-text{
  opacity:0.8;
}

.subtext{
  position:absolute;
  top:22%;
  z-index:6;
  font-size:25px;
  font-family: Quicksand;
  color:white;
  left:9%;
  opacity:0;
  transition: opacity 0.6s ease;
}

.icon{
  position: absolute;
  opacity: 0;
  top:55%;
  scale:0.7;
  z-index: 6;
  left:5.5%;
  transition: opacity 0.6s ease;
}

.germ{
  position: absolute;
  opacity: 0;
  top:67%;
  scale:0.8;
  z-index: 6;
  left:75.5%;
  transition: opacity 0.6s ease;
}

.para:hover ~ .subtext{
  opacity:0.9;
}

.para:hover ~ .icon{
  opacity:0.9;
}

.bg-text-1{
  position:absolute;
  z-index:5;
  top:30%;
  left:74%;
  transform: scale(1.3);
  opacity:0;
  transition: opacity 0.6s ease;
}

.para:hover ~ .bg-text-1{
  opacity:0.8;
}

.subtext1{
  position:absolute;
  top:22%;
  z-index:6;
  font-size:25px;
  font-family: Quicksand;
  color:white;
  left:73.5%;
  opacity:0;
  transition: opacity 0.6s ease;
}

.para:hover ~ .subtext1{
  opacity:0.9;
}

.para:hover ~ .germ{
  opacity:1;
}